.row {
  padding: 16px 0;
  border-bottom: 0.5px solid var(--dsw-alias-border-l2);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.title {
  font-size: 14px;
  line-height: 20px;
}

.description {
  margin-top: 4px;
  color: var(--dsw-alias-label-secondary);
  font-size: 12px;
  line-height: 18px;
}

.status {
  margin-top: 8px;
  font-size: 13px;
  line-height: 20px;
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
